{% load staticfiles %}
<html>
<head>
    <script language="JavaScript">
        function f1() {
            var alpha = /^[A-Za-z]+$/
            if (txtname.value.match(alpha))
            {
                alert("Valid Input")
            }
            else {
                alert("Invalid Input")
            }
            myform.reset();
        }
    </script>
    <script type="text/javascript">
        function PreviewImage()
        {
            var oFReader = new FileReader();
                oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

            oFReader.onload = function (oFREvent)
            {
                document.getElementById("uploadPreview").src = oFREvent.target.result;
            };
        };
    </script>
</head>
<body background="{% static 'images/image2.png' %}">
<form action="/register/" method="post" enctype="multipart/form-data" id="myform">
    {% csrf_token %}
    <div class="d-flex justify-content-between">
        <table align="center">

    <tr>
        <th colspan="2">
           <center>REGISTERATION</center>
        </th>
    </tr>
    <tr>
        <th>Name : </th>
        <td><input type="text"name="name" id="txtname"></td>
        <td>
                            <img  id="uploadPreview"  style="width: 100px; height: 100px;" />
                        </td>

    </tr>
    <tr>
        <th>Age : </th>
        <td><input type="number" name="age">
        </td>
    </tr>
    <tr>
        <th>Contact no :</th>
        <td><input type="number"name="cno">
        </td>
    </tr>
    <tr>
        <th>Email-Id</th>
        <td><input type="email" name="email">
        </td>
    </tr>
    <tr><th>Profile_pic : </th><td><input type="file" name="file" id="uploadImage" onchange="PreviewImage()"></td></tr>
    <tr>
        <th colspan="2">
            <button type="submit" class="btn btn-primary" onclick="f1()"><center>Register</center></button>
        </th>
    </tr>
</table>
        </div>
    </form>
<h1>{{ message }}</h1>
</body>
</html>