<html>
<body>
{% include "index.html" %}
    <table align="center" border="2">
      {% for x in query %}
          <tr>
          <td>Name</td>
            <td>{{ x.name }}</td>
          <td><form action="/gotoupdate/" method="post">
              {% csrf_token %}
              <input type="hidden" name="name" value="{{ x.name }}" readonly>
              <button type="submit">Update</button>
                    </form>
          </td>
          <td><button type="submit">Delete</button> </td>
        </tr>
        <tr>
        <td>Age</td>
            <td>{{ x.age }}</td>
        </tr>
    <tr>
    <td>Contactno</td>
            <td>{{ x.contactno }}</td>
        </tr>
    <tr>
        <td>Email</td>
        <td>{{ x.email }}</td>
        </tr>
          <tr>
        <td>Image</td>
        <td><img src="{{ x.image.url }}" height="42" width="42"></td>
        </tr>

        {% endfor %}
    </table>
</body>
</html>